@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <div class="wrapper">
            <a href=""><img class="img" src="~/image/icons/beeline.png" ></a>
        </div>
        <a href="http://blazor.net" target="_blank" class="ml-md-auto">О нас</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
